[Unit]
Description=ZMediaProxy
After=network.target

[Service]
Type=simple
User=root
NonBlocking=true
WorkingDirectory=/zmp
ExecStart=/zmp/zmp-linux-amd64 --best --rosnd http://immo.date/ero.m3u --loglevel off
ExecStop=/usr/bin/killall -w zmp-linux-amd64
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
